
.ds-fonts {
	p {
		margin-bottom: 0.5rem;
	}
	& :nth-child(2) {
		font-family: $openSans-Regular;
		font-size: 1.7rem;
	}
	& :nth-child(3) {
		font-family: $raleway-Regular;
		font-size: 1.7rem;
	}
	& :nth-child(4) {
		font-family: $raleway-Bold;
		font-size: 1.7rem;
		font-weight: 700;
	}
}




