@import "vars";

@media (max-width: 130rem) {
}
@media (max-width: 37rem) {
}
@media (max-width: 1439px) {
	.container {
		//max-width: 1320px;
		max-width: 1440px;
	}
}
@media (min-width: 374px) and (max-width: 800px) {
	.container {
		min-width: 375px;
		max-width: 100%;
		width: auto;
		padding: 0 3rem;
	}
	.header-content {
		height: 11rem;
		width: 100%;
		.logo {
			width: 10rem;
			height: 4rem;
			margin-top: 1.4rem;
		}
		nav {
			ul {
				li {
					margin-right: 2rem;
					a {
						font-weight: normal;
						font-size: 1.5rem;
					}
				}
			}
		}
	}
	.section--mb {
		flex-direction: column-reverse;
		align-items: center;
	}
	.column {
		width: 100%;
	}
	.content {
		text-align: center;
		align-items: center;
	}
	.container-wrapper {
		flex-wrap: nowrap;
		justify-content: center;
		position: relative;
		&--colorLiteGray {
			&::before {
				content: "";
				position: absolute;
				background-image: url(../img/bg-curve-mobile.svg);
				background-size: cover;
				width: 100%;
				height: 5rem;
				top: -5rem;
			}
		}
		&--colorBlue {
			background-color: $desaturatedBlue;
			h1 {
				color: $lightGrayishBlue;
			}
			p {
				color: $lightGrayishBlue;
				font-weight: normal;
				width: 51rem;
			}
		}
	}
	h1 {
		font-size: 3rem;
		line-height: 1.2;
		padding-bottom: 2rem;
		padding-top: 4rem;
	}
	.paragrafPrimary {
		font-size: 1.8rem;
		line-height: 1.6;
		font-weight: normal;
	}
	form {
		flex-direction: column;
		.input {
			margin-right: 0;
			padding-bottom: 2rem;
			> input {
				max-width: 100%;
				width: 89%;
			}
		}
	}
	.link {
		margin: 0 auto;
		padding-top: 4rem;
	}
	.card {
		text-align: start;
		margin: 4rem auto;
		background-color: $white;
	}
	.section {
		&--form {
			flex-direction: column;
			height: 35rem;
			form {
				flex-direction: column;
				padding-bottom: 3rem;
				.input {
					margin-right: 0;
					padding-bottom: 3rem;
					> input {
						width: 92%;
					}
				}
				button {
					width: 100%;
					padding: 1.4rem 2rem;
				}
			}
		}
	}
	footer {
		flex-direction: column;
		.footer {
			height: 60rem;
			.info-line {
				flex-direction: column;
			}
			.soc-row {
				align-self: center;
			}
			.contact {
				padding-bottom: 3rem;
				.contact-phone,
				.conatct-mail {
					align-items: center;
				}
				.phone,
				.mail {
					font-weight: normal;
					font-size: 2rem;
					a {
						text-decoration: none;
						font-weight: normal;
						cursor: default;
					}
				}
			}
			nav {
				ul {
					width: 100%;
					grid-template-columns: 1fr;
					grid-template-rows: repeat(7, minmax(0, 3.7rem));
					grid-template-areas:
						"a"
						"a"
						"a"
						"a"
						"b"
						"b"
						"b";
				}
			}
		}
	}
}
