@use "sass:list";
@use "sass:math";
@import "normalize";
@import "vars";
@import "fonts";
@import "libs";

::placeholder {
	color: #666;
}
::selection {
	background-color: $veryDarcBlue;
	color: $white;
}
:focus-visible {
	outline-offset: 0;
	outline: none;
}
:root {
	font-size: $base_size;
}

body {
	font-size: 1.4rem;
	font-family: $openSans-Regular;
	overflow-x: hidden;
	margin: 0 auto;
	max-width: 144rem;
}

.grid {
	display: grid;
}
.flex {
	display: flex;
}
@import "dsystem";
@import "media";